.about-us-container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
  }
  
  #about {
    background-color: white;
    color: white;
    width: 100%;
    text-align: left;
  }
  
  #contact {
    width: 100%;
    background-color: lightgrey;
    background-image: url('../../images/HomepageImages/img1.jpeg');
    color:black;
    text-align: center;
  }
  
  p,
  h3,
  h4 {
    padding: 1em;
    line-height: 1.3em;
  }
  

  .info {
    background-color:darkmagenta;
    background-image: url('../../images/HomepageImages/img3.jpeg');
    color: black;
    width: 100%;
    text-align: left;
  }


  .signUp {

    width: 100%;
    background-color: lightgoldenrodyellow;
    text-align:left;
  }
  .redzone{
    background-color:darkred;
    color: white;
    width: 100%;
    text-align: center;
    box-sizing: content-box;
 
    padding: 1em;
      
  }

#heading{
  color:red;
}


  @media all and (min-width: 760px) {
    .about-us-container,.mainContainer {
      display: flex;
      flex-wrap: wrap;
    }
    #about {
      width: 50%;
    }
    #contact {
      width: 50%;
    }
    .info{
      width:30%
    }
    .signUp{
      width:70%
    }
    
  }
  